<mat-list-item>
    <mat-checkbox matLine [checked]="task.isCompleted" (change)="complete.emit($event.checked)"><span [class.complete]="task?.isCompleted">{{ task?.title }}</span></mat-checkbox>

    <p matLine>Complete By : {{task.completeBy | date}}</p>
    <p matLine>{{ratingMessage}}</p>
    <div fxLayout="row" fxLayoutAlign="start">
        <button mat-button color="primary" (click)="edit.emit()" type="button">Edit Task</button>
        <button mat-button color="warn" (click)="remove.emit()" type="button">Delete Task</button>
    </div>
    <mat-divider></mat-divider>
</mat-list-item>
<!-- <mat-icon svgIcon="../../../assets/images/edit-24px.svg"></mat-icon> -->