<ng-container *ngIf="tasks$ | async; let tasks">
    <ng-container *ngIf="tasks.length > 0; else allDone">
        <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select (selectionChange)="sortBy($event.value)">
                <mat-option value="">Default</mat-option>
                <mat-option value="rating">Rating</mat-option>
                <mat-option value="name">Name</mat-option>
                <mat-option value="complete">Complete</mat-option>
                <mat-option value="date">Date</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-list role="list">
            <ng-container *ngFor="let task of tasks;let i = index">
                <app-task [task]="task" (complete)="tasksStore.setCompleted($event,task)" (remove)="tasksStore.removeTask(task.id)" (edit)="toggleEditMode(task)"></app-task>
            </ng-container>
        </mat-list>
    </ng-container>
    <ng-template #allDone>
        <div fxLayout="row" fxLayoutAlign="center center">
            <h4>All Done!! 🏖</h4>
        </div>
    </ng-template>
</ng-container>