<ng-container *ngFor="let task of addedTasks$ | async; trackBy: taskTrackFn">
    <app-task [task]="task" (complete)="tasksStore.setCompleted($event,task)" 
                            (remove)="tasksStore.removeTask(task.id)"
                            (edit)="toggleEditMode(task)"></app-task>
</ng-container>

<div>
    <select (change)="sortBy($event.target.value)">
        <option selected disabled hidden>Select SortBy</option>
        <option value="">Default</option>
        <option value="rating">Rating</option>
        <option value="name">Name</option>
        <option value="complete">Complete</option>
        <option value="date">Date</option>
    </select>
</div>