mat-form-field {
    margin-right: 12px;
    width: 100%;
}

mat-form-field:not(:first-child) {
    width: 50%;
}

.edit {
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
}